<div class="container">
	<h1>new post here</h1>

	<%= form_for(@topic, html: {multipart: true}) do |f| %>
	    <% if @topic.image.exists? %>
	        <span class="topic-image">
	             <%= image_tag @topic.image.url(:thumb) %>
	        </span>
	    <% end %>
	    <p>
	        <%= f.label :image, "attach an image" %>
	        <%= f.file_field :image %>
	    </p>
		<p>
			<%= f.label :title %>
			<%= f.text_field :title, :value => current_user.saved_title %>
			<!-- <span><%= current_user.saved_title %></span> -->
		</p>
		<p>
			<%= f.label :content %>
			<%= f.text_area :content, :value => current_user.saved_content %>
		</p>
		<p><%= current_user.email %></p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>
	
</div>