<div class="container">
	<h1>
		<%= @topic.title %>
	</h1>
	<% if @topic.image.exists? %>
        <p>
            <%= image_tag @topic.image.url(:medium) %></p>
        </p>
	<% end %>
	<p>
		posted by <%= @topic.user_id %>
	</p>
	<p>
		on  <%= @topic.created_at.strftime("%B %e, %Y at %I:%M%p") %>
	</p>
	<p>Tags: 
		<% @topic.tags.each do |tag| %>
			<%= link_to tag.name, tag_path(tag) %>
		<% end %>
	</p>
	<p><%= image_tag @topic.image.url(:thumb) %></p>
	<p>
		<%= @topic.content %>
	</p>
	<p>
		<%= link_to	"back to posts", home_index_path %>
	</p>
	<p>
		<%= link_to "destroy topic", topic_path, method: :delete %> </br>
	</p>

	<h3>Comments (<%= @topic.replies.size %>)</h3>
	<%= render partial: 'topics/reply', collection: @topic.replies %>

	<%= render partial: 'replies/form' %>
</div>