<div class="container">
	<h1>
		<%= @topic.title %>
	</h1>
	<p>
		posted by <%= @topic.user %>
	</p>
	<p>
		on  <%= @topic.created_at.strftime("%B %e, %Y at %I:%M%p") %>
	</p>
	<p>
		<%= @topic.content %>
	</p>
	<p>
		<%= link_to	"back to posts", home_index_path %>
	</p>
	<p>
		<%= link_to "destroy topic", topic_path, method: :delete %> </br>
	</p>
</div>